body {
    background-color: #eaeaea;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.page1 {
    .header {
        height: 140px;
        width: 100vw;
        background-color: #fff;
        margin: 0;

        .header_wrapper {
            width: 90vw;
            height: 140px;
            margin: 0 auto;
            display: flex;
            align-items: center;

            .log {
                width: 270px;
                height: 90px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .nav {
                flex: 2;
                color: #969696;
                font-size: 16px;
                line-height: 19px;
                font-weight: 700;

                ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;

                    li {
                        list-style: none;
                        position: relative;

                        &:hover {
                            background-color: #eaeaea;
                        }

                        &:hover {
                            ul {
                                display: block;
                            }
                        }

                        ul {
                            display: none;
                            position: absolute;
                            background-color: #fff;
                            padding: 15px 20px;
                            top: 100%; /* 确保子菜单在父菜单项的下方 */
                            left: 0;
                            z-index: 1000; /* 确保下拉菜单在页面上其他元素的上方 */
                            /* 其他样式，如宽度、背景色等 */

                            li {
                                margin: 10px 0;
                                text-orientation: sideways;
                                width: 5vw;
                                text-align: center;    
                                display: block; /* 确保列表项块级显示 */
                                margin: 3px; /* 根据需要调整 */
                                &:hover {
                                    background-color: #eaeaea;
                                }

                            }
                        }
                    }
                }
            }

            .search {
                width: 40px;
                height: 40px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

    }

    .content {
        width: 80vw;
        margin: 18px auto 25px auto;

        .title {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;

            .name {
                font-size: 36px;
                font-weight: 700;
                color: rgb(29, 33, 41);
                font-family: Songti SC;
                line-height: 20px
            }

            .more {
                font-weight: 700;
                font-size: 16px;
                line-height: 23px
            }
        }

        .detail {
            display: flex;
            height: 360px;
            margin-top: 50px;

            .bigImg {
                flex: 1.2;
                background: url("13.jpg") no-repeat center center / cover;
                margin-right: 8px;
                position: relative;
                height: 100%;

                .img_info {
                    padding: 0 20px;
                    box-sizing: border-box;
                    width: 100%;
                    height: 90px;
                    position: absolute;
                    bottom: 20px;
                    background-color: rgb(57, 80, 228);
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 20px;
                    color: white;
                    display: flex;
                    text-align: center;
                    align-items: center;

                    span {
                        text-align: left;
                    }

                    .arrow {
                        position: absolute;
                        right: 40px;
                        color: white;
                        font-size: 30px;
                    }
                }
            }

            .news {
                flex: 1;
                margin-left: 8px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .news_item {
                    font-size: 14px;
                    font-weight: 400;
                    padding: 20px 10px;
                    flex: 1;
                    width: 100%;
                    background-color: #fff;
                    box-sizing: border-box;

                    .item_content {
                        margin: 5px 0;
                        font-weight: 700;
                        font-size: 16px;
                    }

                    .item_more {
                        font-weight: 300;
                    }

                    &:nth-child(2) {
                        margin: 20px 0;
                    }
                }
            }
        }

        .moreInfo {
            width: 100%;
            display: flex;
            margin-top: 60px;
            height: 250px;

            .info_item {
                flex: 1;
                position: relative;
                height: 100%;

                &:nth-child(1) {
                    background: #000;
                    background: url("14.png") no-repeat center center / cover;
                }

                &:nth-child(2) {
                    margin: 0 20px;
                    background: url("09.png") no-repeat center center / cover;
                }

                &:nth-child(3) {
                    background: url("矩形 4.png") no-repeat center center / cover;
                }

                .img_info {
                    padding: 0 20px;
                    box-sizing: border-box;
                    width: 100%;
                    height: 40px;
                    position: absolute;
                    bottom: 20px;
                    background-color: rgb(57, 80, 228);
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 20px;
                    color: white;
                    display: flex;
                    text-align: center;
                    align-items: center;
                }
            }

        }
    }
}
.banner {
    display: flex;          /* 使用Flexbox布局 */
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    height: 70vh;          /* 容器高度，可以根据需要调整 */
    width: 100%;            /* 容器宽度 */
    background-color: #f0f0f0; /* 背景颜色，根据需要调整 */
    /* 其他样式 */
}
.banner images {
    max-width: 100%;        /* 图片最大宽度不超过容器宽度 */
    max-height: 100%;       /* 图片最大高度不超过容器高度 */ 
    object-fit: cover;     /* 裁剪图片以填充容器 */
}
.footer-1 {
    width: 100%;
    height: 100px;
    line-height: 25px;
    padding: 27px 0;
    background-color: rgb(57, 80, 228);
    color: aliceblue;
    position: relative; /* 保持相对定位 */
    width: 100%; /* 或者使用max-width: 1280px; */
    max-width: 100%; /* 确保内容不会超出视口宽度 */
    margin: 0 auto; /* 上下边距为0，左右边距自动调整以居中 */
    text-align: center
}